<h2>NG TEMPLATE</h2>
<div class="card-list">
  <ng-container
    [ngTemplateOutlet]="card"
    [ngTemplateOutletContext]="{ title: 'Title 1', $implicit: 'Body 1' }"
  ></ng-container>

  <ng-container
    [ngTemplateOutlet]="card"
    [ngTemplateOutletContext]="{ title: 'Title 2', $implicit: 'Body 2' }"
  ></ng-container>

  <ng-container
    [ngTemplateOutlet]="card"
    [ngTemplateOutletContext]="{ title: 'Title 3', $implicit: 'Body 3' }"
  ></ng-container>
</div>

<ng-template #card let-title="title" let-body>
  <div class="card active">
    <h3>{{ title }}</h3>
    <span>{{ body }}</span>
  </div>
</ng-template>
